*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#whatisthiscar{
    width: 100%;
    .container{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title{
            text-align: center;
        }
        .informationsaboutthiscar{
            width: 100%;
            h1{
                color: $main-color;
            }
            p{
                font-size: 17px;
              
            }
        }
        .title{
            text-align: center;
            h1{
                color: $main-color;
            }
          
        }
        .typesofthiscar{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }
        .cars{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 5px 5px 20px rgb(111, 111, 111);
            border-radius: 10px;
            padding: 25px;
            border-radius: 10px;
            text-align: center;
      width: 100%;
            margin-bottom: 30px;
           margin-top: 20px;
        height: 600px;
        text-align: start;
        .textdiv{
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .suvtextdiv{
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
            margin-bottom: -30px;
        }
            h1{
                font-size: 25px;
                color: $main-color;
                text-align: start;

            }
            p{
                font-size: 17px;
                width: 95%;
            }
            img{
            border-radius: 10px;
            width: 80%;
            height: 50%;
            }
            &:hover{
                background-color: white;
                color: $main-color;
                transition: 0.3s;
                transform: scale(1.02);
            }
        }
        .row{
            .title{
                margin-top: 30px;
                margin-bottom: 30px;
               }
            .newcar{
                border-radius: 10px;
                padding: 25px;
                border-radius: 10px;
                box-shadow: 5px 5px 20px rgb(111, 111, 111);
                text-align: center;
          
                margin-bottom: 30px;
                transition: transform 0.3s ease;
                &:hover{
                    background-color: white;
                    color: $main-color;
                    transition: 0.3s;
                    transform: scale(1.05);
                }
                img{
                    width: 100%;
                    height: 50%;
                    border-radius: 10px;
                    margin-bottom: 15px;
                }
                p{
                    font-size: 20px;
                    font-weight: bolder;
                }
            }
        }
    }
}
@media screen  and (max-width:900px) {
    #whatisthiscar{
        .container{
            .cars{
                img{
                    width: 80%;
                }
            }
        }
    }
}



@media screen  and (max-width:1200px) {
  main{
    #whatisthiscar{
        .container{
           
                .typesofthiscar{

               .cars{
                .textdiv{
                    h1{
                        font-size: 18px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
                .suvtextdiv{
                    h1{
                        font-size: 18px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
                img{
                    height: 45%;
                }
                .suvimg{
                    height: 35%;
                }
               }
            }
        }
    }
  }
}








  @media screen  and (max-width:992px) {
    main{
      #whatisthiscar{
          .container{
             
                  .typesofthiscar{
                .row{
                    .cars{
                       
                        .compact{
                            height: 35%;
                        }
                        .textdiv{
                            h1{
                                font-size: 20px;
                            }
                            p{
                                font-size: 13px;
                            }
                        }
                        .sport{
                          h1{
                              font-size: 18px;
                          }
                          p{
                              font-size: 15px;
                          }
                        }
                        img{
                            height: 45%;
                            width: 95%;
                        }
                        .sportimg{
                          height: 35%;
                        }
                        .suvtextdiv{
                            h1{
                                font-size: 18px;
                            }
                            p{
                                font-size: 13px;
                            }
                        }
                        
                        .suvimg{
                            height: 25% !important;
                        }
                       }
                }
              }
          }
      }
    }
  }

@media screen and (max-width:992px){
    main{
        #whatisthiscar{
            .container{
                .typesofthiscar{
                    .cars
                    {
                        .electriccar{
                            height: 30% !important;
                        }
                        .crossoverimg{
                            height: 30% !important;
                        }
                        .convertibleimg{
                            height: 35% !important;
                        }
                    }
                }
            }
        }
    }
}








  @media screen  and (max-width:768px) {
    main{
      #whatisthiscar{
          .container{
             
                  .typesofthiscar{
                 .cars{
                    .electrictext{
                        p{
                            font-size: 18px !important;
                        }
                    }
                    .electriccar{
                        height: 40% !important;
                    }
                    .crossoverimg{
                        height: 45% !important;
                    }
                    .compacttext{
                        p{
                            font-size: 17px !important;
                        }
                    }
                    .compact{
                        height: 45% !important;
                    }
                    .suvimg{
                        height: 40% !important;
                    }
                  .sportimg{
                    height: 45%;
                  }
                  .suvtextdiv{
                    h1{
                        font-size: 20px !important;
                    }
                    p{
                        font-size: 15px !important;
                    }
                }
                
             
                 }
              }
          }
      }
    }
  }

  @media screen and (max-width: 768px) {
    main {
      #whatisthiscar {
        .container {
          .typesofthiscar {
            .cars {
                .trucktext{
                    p{
                        font-size: 17px !important;
                    }
                }
             .convertible{
                p{
                    font-size: 17px !important;
                }
             }
            
  
            .suvtextdiv {
              h1 {
                font-size: 20px !important;
              }
  
              p {
                font-size: 15px !important;
              }
  
            }
          }
        }
        }
      }
    }
  }
  
@media screen and (max-width:600px) {
    main{
        #whatisthiscar{
            .container{
                .typesofthiscar{
                    .cars{
                        .trucktext{
                            p{
                                font-size: 15px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    main{
        #whatisthiscar{
            .container{
                .typesofthiscar{
                    .cars{
                        .electrictext{
                            p{
                                font-size: 15px !important;
                            }
                        }
                        .crossoverimg{
                            height: 35% !important;
                        }
                        .trucktext{
                            p{
                                font-size: 14px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:410px) {
    main{
        #whatisthiscar{
            .container{
                .typesofthiscar{
                    .cars{
                        .trucktext{
                            p{
                                font-size: 13px !important;
                            }
                        }
                        .truckimg{
                            height: 30% !important;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:345px) {
    main{
        #whatisthiscar{
            .container{
                .typesofthiscar{
                    .cars{
                        .trucktext{
                            p{
                                font-size: 12px !important;
                            }
                        }
                        .truckimg{
                            height: 25% !important;
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width:360px) {
    main{
        #whatisthiscar{
            .container{
                .typesofthiscar{
                  .cars{
                    .electrictext{
                        p{
                            font-size: 13px !important;
                        }
                    }
                    .sport{
                        p{
                            font-size: 13px !important;
                        }
                        .sportimg{
                            height: 20% !important;
                        }
                    }
                    .sedanimg{
                        height: 25% !important;
                    }
                    .sedan{
                        p{
                            font-size: 12px !important;
                        }
                    }
                    .convertibleimg{
                       height: 25% !important;
                       margin-top: 30px;
                       
                    }
                  }
                }
            }
        }
    }
}


  @media screen  and (max-width:500px) {
    main{
      #whatisthiscar{
          .container{
             
                  .typesofthiscar{
                 .cars{
                    .compacttext{
                        p{
                            font-size: 14px !important;
                        }
                    }
                    .compact{
                        height: 35% !important;
                    }
                    .convertible{
                        p{
                            font-size: 15px !important;
                        }
                     }
                    
                    .suvtextdiv {
                      h1 {
                        font-size: 20px !important;
                      }
          
                      p {
                        font-size: 13px !important;
                      }
          
                    }
                  .textdiv{
                      h1{
                          font-size: 17px;
                      }
                      p{
                          font-size: 15px;
                      }
                  }
                  img{
                      height: 45%;
                      width: 95%;
                  }
                  .sportimg{
                    height: 35%;
                  }
                 }
              }
          }
      }
    }
  }

  @media screen  and (max-width:500px) {
    main{
      #whatisthiscar{
          .container{
             
                  .typesofthiscar{
                 .cars{
                    .suvtextdiv {
                      h1 {
                        font-size: 17px !important;
                      }
          
                      p {
                        font-size: 12px !important;
                      }
          
                    }
                  .textdiv{
                      h1{
                          font-size: 17px;
                      }
                      p{
                          font-size: 15px;
                      }
                  }
                  img{
                      height: 45%;
                      width: 95%;
                  }
                  .sportimg{
                    height: 35%;
                  }
                 }
              }
          }
      }
    }
  }

  @media screen  and (max-width:400px) {
    main{
      #whatisthiscar{
          .container{
             
                  .typesofthiscar{
                 .cars{
                    .electriccar{
                        height: 30% !important;
                    }
                    .crossoverimg{
                        height: 30% !important;
                    }
                    .convertible{
                        p{
                            font-size: 13px !important;
                        }
                     }
                    
                  .textdiv{
                      h1{
                          font-size: 15px;
                      }
                      p{
                          font-size: 13px;
                      }
                  }
             
                  img{
                      height: 30%;
                      width: 95%;
                      margin-top: 20px;
                      margin-bottom: 0px;
                  }
                  .sportimg{
                    height: 30%;
                  }
                 }
              }
          }
      }
    }
  }

  @media screen  and (max-width:320px) {
    main{
      #whatisthiscar{
          .container{
             
                  .typesofthiscar{
                 .cars{
                    .electriccar{
                        height: 20% !important;
                    }
                    .crossover{
                        p{
                            font-size: 12px !important;
                        }
                    }
                    .crossoverimg{
                        height:25% !important;
                    }
                  .textdiv{
              padding-top: 10px;
                      h1{
                          font-size: 13px;
                      }
                      p{
                          font-size: 12px;
                      }
                  }
                  img{
                      height: 25%;
                      width: 95%;
                      
                      margin-bottom: 0px;
                  }
                 }
              }
          }
      }
    }
  }

@media screen  and (max-width:500px) {
   main{
    #whatisthiscar{
        .container{
            .informationsaboutthiscar{
                h1{
                    font-size: 20px;
                    
                   }
                   p{
                    font-size: 15px;
                }
           
            }
        
        }
    }
   }
}






